<!-- Terror -->
<section class="categoria" *ngIf="peliculas.length">
  <h2>Terror</h2>
  <div class="grid-categorias">
    <ng-container *ngFor="let pelicula of peliculas">
      <ng-container *ngIf="pelicula.genero === 'Terror'">
        <a [routerLink]="['/pelicula', pelicula.id]">
          <img [src]="pelicula.imagen" [alt]="pelicula.titulo" width="200">
          <div class="info-pelicula">
            <h3>{{ pelicula.titulo }}</h3>
            <p>{{ pelicula.anio }}</p>
          </div>
        </a>
      </ng-container>
    </ng-container>
  </div>
</section>

<!-- K-Dramas -->
<section class="categoria" *ngIf="peliculas.length">
  <h2>K-Dramas</h2>
  <div class="grid-categorias">
    <ng-container *ngFor="let pelicula of peliculas">
      <ng-container *ngIf="pelicula.genero === 'KDrama'">
        <a [routerLink]="['/pelicula', pelicula.id]">
          <img [src]="pelicula.imagen" [alt]="pelicula.titulo" width="200">
          <div class="info-pelicula">
            <h3>{{ pelicula.titulo }}</h3>
            <p>{{ pelicula.anio }}</p>
          </div>
        </a>
      </ng-container>
    </ng-container>
  </div>
</section>
