.img-login {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/img/fondo-login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.img-login::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.login-container {
  position: relative;
  z-index: 2;
  padding: 50px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  color: white;
  width: 400px;
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  max-width: 90vw; /* Para mejor soporte en móviles */
}

.login-container h1 {
  margin-bottom: 30px;
  font-size: 26px;
  color: rgb(169, 97, 248);
}

.input-wrapper {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}

.input-wrapper label {
  font-size: 14px;
  color: #eee;
  margin-bottom: 5px;
  display: block;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  transition: border 0.2s ease, background-color 0.2s ease;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #a384b2;
}

.error-icon,
.success-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
}

.error-icon {
  color: #ff4d4d;
}

.error {
  color: #ff4d4d;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
  padding-left: 4px;
}

.success-icon {
  color: #4caf50;
}

input.ng-invalid.ng-touched {
  border: 2px solid #ff4d4d;
  background-color: rgba(255, 77, 77, 0.1);
}

input.ng-valid.ng-touched {
  border: 2px solid #4caf50;
  background-color: rgba(76, 175, 80, 0.8);
  color: white;
}

.main-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.secondary-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary {
  background-color: #a050f8;
  color: white;
}

.btn-primary:hover {
  background-color: #893dd7;
}

/* Enlaces tipo opción */
.option-link {
  background: none;
  border: none;
  color: #ccc;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}

.option-link:hover {
  color: #fff;
  text-decoration: none;
}

:host {
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
}
